

<div style="font-family: Homenaje;">
	<p style="font-size: 110px;color: #FFFFFF; " align="center">Yatzee.</p>
	<p style="font-size: 55px;color: #BB4D22; margin-top: -40px;" align="center">IT consulting and dfdsf.</p>
	<div align="center" style="margin-bottom: 50px">
		<p>
			<img src="images/logo.png" style="width: 92px; margin-top:-5px;">
		</p>
	</div>
</div>







